:root {
  --gen-font-color: #555555;
  --title-font-color: #303030;
  --cost-font-color: #9da4bd;
  --master-font-color: #ff6c00;
  --subtitle-font-color: #9da4bd99;
}
body {
  font-family: "Open Sans";
}
.container{
  padding-left: 55px;
  padding-right: 55px;
  max-width: 1280px;
  margin: 0 auto;
}
.header-sidebar{
  margin-bottom: 33px; 
  margin-right: 26px; 
  display: flex; 
  align-items: center; 
  flex-direction: row-reverse; 
  writing-mode: vertical-rl; 
  gap: 40px;
  justify-content: space-between;
}
.header-sidebar-list{
  gap: 40px;
}
.header-sidebar-list{
  display: flex;
  align-items: center;
}
.header-sidebar-list::after{
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: var(--title-font-color);
  transform: rotate(90deg);
  margin-bottom: 33px;
  margin-top: 40px;
}
.header-sidebar-item{
  transform: rotate(180deg);
}
.header-sidebar-link{
  color: var(--title-font-color);
font-size: 11px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 2.2px;
transition: 0.3s;
}
.header-sidebar-link:hover{
  color: var(--master-font-color);
}
.header-sidebar-logo{
  margin-top: 32px;
}
.header{
  display: flex;
  padding-left: 53px;
  padding-right: 62px;
}
.nav-hero{
  background-image: url(./img/nav-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.nav{
  display: flex;
  justify-content: space-between;
  padding-bottom: 200px;
  padding-left: 43px;
}
.nav-list{
  display: flex;
  gap: 40px;
  padding-right: 320px;
  padding-top: 47px;
}
.nav-list-link {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.2px;
  transition: all 0.3s;
}
.nav-list-link:hover{
  color: var(--master-font-color);
}
.nav-contacts-list{
  display: flex;
  gap: 50px;
}
.nav-contacts-list-item {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.nav-contacts-list-item:nth-child(1) {
  padding-top: 47px;
}
.nav-contacts-list-btn{
  padding: 11px;
  stroke-width: 1px;
  background: transparent;
  color: #FFF;
  border: 1px solid #FF6C00;
  border-radius: 25px;
  display: flex;
  margin-top: 36px;
  transition: 0.5s;
}
.nav-contacts-list-btn:hover{
  background-color: #FF6C00;
}
.section-hero{
  padding-left: 99px;
}
.hero-subtitle {
  color: var(--subtitle-font-color);
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.hero-subtitle::before{
  content: "";
  width: 63px;
  height: 1px;
  background-color: var(--subtitle-font-color);
  display: inline-block;
  margin-right: 21px;
}
.hero-title {
  color: #fff;
  font-family: Raleway;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;
  padding-bottom: 20px;
}
.hero-text {
  color: var(--cost-font-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.36px;
  padding-bottom: 200px;
  max-width: 400px;
}
.hero-next-list{
  display: flex;
  justify-content: flex-end;
  padding-right: 45px;
  padding-bottom: 27px;
  gap: 26px;
}
.hero-next-item{
  color: var(--subtitle-font-color);
font-size: 11px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.1px;
}
.hero-next-item:nth-child(2){
  text-align: right;
}
.hero-next-item::after{
  content: "";
  display: inline-block;
  width: 58px;
  height: 1px;
  background-color: var(--subtitle-font-color);
  display: flex;
  margin-top: 10px;
}
.about{
  padding-top: 163px;
  display: flex;
  padding-bottom: 89px;
}
.about-photo-img{
  max-width: 270px;
  max-height: 430px;
}
.about-photo-list{
  display: flex;
  gap: 30px;
}
.about-list{
  display: flex;
  flex-direction: column;
  margin-left: 64px;
  margin-right: 46px;
  row-gap: 20px;
}
.about-subtitle {
  color: var(--title-font-color);
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.about-subtitle::before{
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--title-font-color);
  display: inline-block;
  margin-right: 20px;
}
.about-title {
  color: var(--title-font-color);
  font-family: Raleway, sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px; 
  max-width: 483px;
}
.about-overtitle {
  color: var(--gen-font-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.36px;
  max-width: 500px;
}
.about-text {
  color: var(--gen-font-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  letter-spacing: 0.28px;
  max-width: 500px;
}
.about-btn {
  color: var(--title-font-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  border-radius: 25px;
  border: 1px solid #FF6C00;
  width: 160px;
  height: 39px;
  transition: all 0.5s;
}
.about-btn:hover{
  background-color: var(--master-font-color);
}
.services{
  padding-top: 130px;
  padding-bottom: 130px;
  background-image: url(./img/services-bg.png);
  background-repeat: no-repeat;
  background-color: #111319;
  background-size: cover;
}
.services-subtitle {
  color: var(--subtitle-font-color);
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.services-subtitle::before{
  content: "";
  width: 63px;
  height: 1px;
  background-color: var(--subtitle-font-color);
  display: inline-block;
  margin-right: 20px;
}
.services-title {
  color: #fff;
  font-family: Raleway;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
  padding-bottom: 44px;
}
.services-cards{
  display: flex;
}
.services-first-card{
  background: linear-gradient(180deg, 
  #171A24 0%, rgba(23, 26, 36, 0.20) 100%);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 40px;
  gap: 20px;
}
.services-second-card{
  background: linear-gradient(180deg,
  #090B13 0%, rgba(9, 11, 19, 0.20) 100%);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 40px;
  gap: 20px;
}
.first-card-item,.second-card-item{
  display: flex;
  justify-content: space-between;
}
.first-card-service,.first-card-cost,
.second-card-service,.second-card-cost {
  color: #9da4bd;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.36px;
}
.services-btn {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  border-radius: 25px;
  border: 1px solid #FF6C00;
  padding: 12px 20px;
  background: transparent;
  display: flex;
  margin: 0 auto;
  margin-top: 62px;
  transition: all 0.5s;
}
.services-btn:hover{
  background-color: var(--master-font-color);
}
.section-why-us{
  padding-top: 143px;
  padding-bottom: 137px;
  display: flex;
}
.features-list{
  padding-left: 100px;
  display: flex;
  gap: 30px;
  padding-right: 130px;
  flex-wrap: wrap;
}
.features-list-item{
  height: 133px;
  width: 170px;
  background-color:#F7F7F7;
  padding: 20px;
}
.features-list-title {
  color: var(--title-font-color);
  text-align: center;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
  padding-bottom: 6px;
}
.features-list-plus {
  color: #ff6c00;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.features-list-text {
  color: var(--title-font-color);
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 122px;
  margin: 0 auto;
}
.why-us-subtitle {
  color: var(--title-font-color);
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.why-us-subtitle::before{
  content: "";
  width: 63px;
  height: 1px;
  background-color: var(--title-font-color);
  display: inline-block;
  margin-right: 20px;
}
.why-us-title {
  color: var(--title-font-color);
  font-family: Raleway;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
  max-width: 412px;
  padding-bottom: 20px;
}
.why-us-text {
  color: var(--gen-font-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.36px;
  max-width: 500px;
}
.section-masters{
  padding-top:130px;
  padding-bottom: 130px; 
}
.masters-subtitle {
  color: var(--title-font-color);
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.masters-subtitle::before{
  content: "";
  width: 63px;
  height: 1px;
  background-color: var(--title-font-color);
  display: inline-block;
  margin-right: 20px;
}
.masters-title {
  color: var(--title-font-color);
  font-family: Raleway;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
  padding-bottom: 44px;
}
.masters-list{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.masters-list-title {
  color: var(--title-font-color);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
  padding-top: 30px;
  padding-bottom: 8px;
}
.masters-list-text {
  color: var(--master-font-color);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
  padding-bottom: 30px;
}
.masters-list-list{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.portfolio{
  padding-top: 130px;
  padding-bottom: 130px;
}
.portfolio-img{
  width: 270px;
  height: 360px;
}
.portfolio-subtitle {
  color: var(--title-font-color);
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  padding-bottom: 44px;
}
.portfolio-list{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.record-section{
  display: flex;
}
.sign-section{
  background-color: #191C26;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 193px;
}
.contacts-section{
  background-image: url(./img/contacts-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.sign-btn-box{
  display: flex;
  flex-direction: column;
}
.sign-box{
  padding-left: 56px;
  padding-right: 41px;
}
.sign-title {
  color: #fff;
  font-family: Raleway;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
  padding-bottom: 44px;
}
.sign-inp {
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  background: transparent;
}

.name-phone-box{
  padding-bottom: 60px;
}
.sign-btn {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid var(--master-font-color);
  border-radius: 25px;
  padding: 12px 38px;
  transition: all 0.5s;
  max-width: 160px;
  margin-top: 44px;
}
.sign-btn:hover{
  background-color: var(--master-font-color);
}
.contacts-box{
  padding: 130px 106px 130px 99px;
}
.contacts-section{
  background-color: #111319;
}
.contacts-title {
  color: #fff;
  font-family: Raleway;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
  padding-bottom: 40px;
}
.address-list{
  padding-bottom: 70px;
}
.address-item:nth-child(2){
  padding-top: 20px;
  padding-bottom: 20px;
}
.address-item {
  color: var(--cost-font-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.36px;
  max-width: 230px;
}
.address-item:nth-child(1):before{
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(./img/map-pin.png);
  margin-right: 16px;
}
.address-item:nth-child(2):before{
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(./img/phone.png);
  margin-right: 16px;
}
.address-item:nth-child(3):before{
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(./img/mail.png);
  margin-right: 16px;
}
.contacts-subtitle {
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.contacts-subtitle::before{
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: var(--subtitle-font-color);
  margin-right: 20px;
}
.contacts-text {
  color: #9da4bd;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.36px;
}
.footer{
  display: flex;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 56px;
}
.footer-title{
  color: var(--cost-font-color);
font-size: 11px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 2.2px;
}
.footer-img{
  padding-right: 6px;
}
.footer-list{
  display: flex;
  gap: 40px;
  align-items: center;
}
.footer-list::before{
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background: var(--title-font-color);
}
.footer-item{
  color: var(--title-font-color);
font-size: 11px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 2.2px;
}